.navbar {
  background: #010043;
  display: flex;
  align-items: center;
  font-family: "Lato", sans-serif;
  padding: 0.5rem 2rem;
}

.navbar a {
  color: #f5f5f5;
}

.left-section {
  color: #f5f5f5;
  font-size: 2rem;
  padding-left: 10px;
}

.middle-section {
  margin-left: 5rem;
}

.search {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.btn {
  background: #5221e6;
  color: #f5f5f5;
}

.search-input {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.right-section {
  display: flex;
  align-items: center;
}
