@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather+Sans&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body {
  background: rgb(2, 1, 54);
  background: linear-gradient(
    0deg,
    rgba(2, 1, 54, 1) 23%,
    rgba(1, 14, 69, 1) 70%,
    rgba(0, 0, 96, 1) 100%
  );
}
